@import 'base/variables'
@import 'base/mixins'
@import 'blocks/header'
@import 'blocks/promo'
@import 'blocks/button'
@import 'blocks/advantages'
@import 'blocks/consultation'
@import 'blocks/carousel'
@import 'blocks/catalog'
@import 'blocks/catalog-item'
@import 'blocks/rewiews'
@import 'blocks/rewiew-item'
@import 'blocks/footer'


*
    font-family: 'Museo Sans Cyrl', sans-serif
    
    
.container 
    width: 950px
    margin: 0 auto
    position: relative

