.carousel
  min-height: 580px
  background-color: #ffffff
  padding: 81px 0
  position: relative
  &__inner
    max-width: 750px
    margin: 0 auto
    img
      width: 100%
  .slick-prev, .slick-next
    position: absolute
    top: 50%
    transform: translateY(-50%)
    left: -66px
    border: none
    background: white
    img
      width: 31px
      height: 50px
  .slick-next
    right: -66px
    left: auto
    img
      width: 31px
      height: 50px
  .tns-item
    text-align: center

@media(max-width: 991px)
  .carousel
    .slick-prev, .slick-next
      top: 110%
      left: 302px
    .slick-next
      right: 270px
      left: auto

@media(max-width: 767px)
  .carousel
    .slick-prev, .slick-next
      top: 110%
      left: 231px
    .slick-next
      right: 206px
      left: auto

@media(max-width: 575px)
  .carousel
    min-height: 490px
    .slick-prev, .slick-next
      top: 110%
      left: 103px
    .slick-next
      right: 84px
      left: auto


