.catalog
  min-height: 1083px
  padding-top: 81px
  &__title
    font-weight: 400
    font-size: 30px
    line-height: 45px
    text-transform: uppercase
    text-align: center
  &__tabs
    display: flex
    margin-top: 42px
  &__tab
    list-style: none
    width: 222px
    height: 52px
    border: 2px solid #D0D0D0
    font-style: normal
    font-weight: 400
    font-size: 18px
    line-height: 18px
    text-transform: uppercase
    text-align: center
  &__items
    margin-top: 57px
    display: flex
    flex-wrap: wrap
    justify-content: space-between

  &__item
    width: 303px
    min-height: 442px
    border: 2px solid #E8E8E8
    padding: 20px 26px
    img
      display: block
      margin: 0 auto

  &__name
    text-align: center
    margin-top: 15px
    font-weight: 700
    font-size: 16px
    line-height: 25px
  &__promo
    margin-top: 16px
    font-weight: 300
    font-size: 14px
    line-height: 22px
    text-align: center
    &__link
      font-weight: 500
      font-size: 14px
      line-height: 14px
      text-align: center
      text-decoration-line: underline
      color: $main-color
      text-transform: uppercase
