.catalog
  min-height: 1083px
  width: 1920px
  padding-top: 81px
  &__title
    font-weight: 400
    font-size: 30px
    line-height: 45px
    text-transform: uppercase
    text-align: center
  &__tabs
    width: 643px
    display: flex
    margin: 42px auto 0 auto
    justify-content: space-between
    margin-bottom: 0
    padding-left: 0
  &__tab
    list-style: none
    width: 200px
    height: 52px
    border: 2px solid #D0D0D0
    font-style: normal
    font-weight: 400
    font-size: 18px
    line-height: 18px
    text-transform: uppercase
    justify-content: center
    display: flex
    align-items: center
    transform: skewX(-25deg)
    cursor: pointer
    transition: 0.5s
    &:hover
      box-shadow: 3px 3px 20px $main-color
      border: none
    &_active
      background: $main-color
      color: white
      border: none
    div
      transform: skew(25deg)
        
  &__content
    margin-top: 57px
    flex-wrap: wrap
    display: none
    &_active
      display: flex
    


  


